@import url('modern-normalize/modern-normalize.css');
@import url('@fontsource/inter-tight/latin-500.css');
@import url('@fontsource/inter-tight/latin-600.css');

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Inter Tight', sans-serif;
 }

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

section {
  padding: 32px 0;
}

@media only screen and (min-width: 768px) {
  section {
    padding: 48px 0;
  }
}

@media only screen and (min-width: 1440px) {
  section {
    padding: 82px 0;
  }
}
