/* Block 1 */
.about-me-box {
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .about-me-box {
    display: block;
    width: 704px;
    margin-bottom: 64px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-me-box {
    display: flex;
    gap: 16px;
    width: 1376px;
    margin-bottom: 96px;
  }
}

.about-me-wrapper {
  border-radius: 24px;
  background: #242527;
  padding: 32px;
  margin-bottom: 16px;
  width: 100%;
  padding-bottom: 272px;
}

@media only screen and (min-width: 768px) {
  .about-me-wrapper {
    padding: 64px;
    padding-bottom: 436px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-me-wrapper {
    margin-bottom: 0;
    max-width: 680px;
  }
}

.about-me-picture {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media only screen and (min-width: 1440px) {
  .about-me-picture {
    width: 100%;
  }
}

.about-me-p-title {
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .about-me-p-title {
    font-size: 38px;
    line-height: 1.05;
  }
}

.functional-span {
  color: #ed3b44;
}

.websites-span {
  color: #fafafa66;
}

/* Block about-me-accordion */
.about-me-accordion-container {
  max-width: 343px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .about-me-accordion-container {
    max-width: 704px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-me-accordion-container {
    max-width: 1376px;
  }
}

.about-me-accordion-container .about-me-ac {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #fafafa33;
  padding: 20px 0 32px;
  margin: 0;
}

.about-me-accordion-container .about-me-ac .about-me-ac-trigger {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fafafa66;
  padding: 0 0 16px;
  display: flex;
}

.about-me-accordion-container
  .about-me-ac
  .about-me-ac-panel
  .about-me-ac-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  padding: 12px 0px;
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .about-me-accordion-container
    .about-me-ac
    .about-me-ac-panel
    .about-me-ac-text {
    padding: 8px 0px;
    text-align: justify;
  }
}

@media only screen and (min-width: 1440px) {
  .about-me-accordion-container
    .about-me-ac
    .about-me-ac-panel
    .about-me-ac-text {
    max-width: 680px;
    margin-left: auto;
    padding: 8px 68px 8px 0;
  }
}

.about-me-icon {
  height: 36px;
  width: 36px;
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 100px;
  display: block;
  fill: #fafafa;
  background: transparent;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .about-me-icon {
    width: 40px;
    height: 40px;
  }
}

.about-me-ac.is-active .about-me-icon {
  transform: rotate(180deg);
  transition: ease-in 0.3s;
}

/* Block Swiper */
#section-about-me .about-me-swiper {
  margin-top: 96px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-right: 83px;
  /* position: relative; */
}

@media only screen and (min-width: 768px) {
  #section-about-me .about-me-swiper {
    margin-right: 104px;
    font-size: 20px;
    letter-spacing: -0.02em;
    line-height: 1;
  }
}

@media only screen and (min-width: 1440px) {
  #section-about-me .about-me-swiper {
    margin-right: 112px;
    margin-left: 32px;
  }
}

#section-about-me .about-me-swiper-slide {
  display: flex;
  padding: 88px 0;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #fafafa33;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
}

@media only screen and (min-width: 768px) {
  #section-about-me .about-me-swiper-slide {
    width: 200px;
    height: 200px;
  }
}

.about-me-swiper-button-next {
  background: blue;
  display: flex;
  border: none;
  width: 48px;
  height: 48px;
  justify-content: center;
  /* position: absolute; */
  /* right: 0; */
}

.about-me-swiper-button-next::after {
  /* display: none; */
}

.about-me-arrow-icon {
  box-sizing: border-box;
  fill: #fafafa;
  width: 40px;
  height: 40px;
  position: absolute;
}

.about-me-swiper .swiper-slide-active {
  background: #ed3b44;
}
