/* /*/

.section {
    background-color: #1C1D20;
}

@media screen and (min-width: 1440px) {
  .wrap {
    display: flex;
  }
}

.left-content {
  margin-bottom: 32px;
}


@media screen and (min-width: 1440px) {
  .left-content {
    margin-bottom: 0;
    width: 50%;
  }
}

@media screen and (min-width: 1440px) {
  .right-content {
    width: 50%;
  }
}

.title-benefits {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

.benefits-style {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 64px;
}

.benefits-style_type {
  background-color: #242527;
  padding: 24px;
  border-radius: 20px;
  max-width: 344px;
}
@media screen and (min-width: 1440px) {
  .benefits-style_type {
    max-width: 332px;
  }
}

.benefits-icon {
  margin-bottom: 64px;
}

.type-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.type-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.benefits-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 16px 34px;
  width: 187px;
  height: 55px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  display: inline-block;
  text-decoration: none;
  position: relative;
  transition: all 0.75s ease;
  overflow: hidden;
  z-index: 1;
}

.benefits-link::after {
  position: absolute;
  content: " ";
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 0;
  height: 0;
  transition: all 0.75s ease;
  transform: translate(-50%, -50%) scale(0.1);
  border-radius: 999px;
}


.benefits-link:hover {
  color: #fff;
  background: transparent;
}


.benefits-link:hover::after {
  height: 200px;
  width: 200px;
  background: #ED3B44;
  transform: translate(-50%, -50%) scale(1);
}