/* .faq-item { */
/* display: flex; */
/* flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    position: relative; */
/* border: solid 1px rgba(250, 250, 250, 0.2); */

/* } */

/* .faq-item:first-child {
    border-left: none;
  }

.faq-item:last-child{
    border-right: none;
} */

/* @media only screen and (min-width: 768px) {
   .faq-item{
    
  }
}

/* .faq-paragraph {
    width: 656px;
    height: 66px;
    font-family: "Inter Tight", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: -0.02em;
color: rgba(250, 250, 250, 0.6);
  }


  .faq-content {
    display: none;
  }
  
  .faq-content.active {
    display: block;
  }
   */

/* .fqa-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
}

.faq-main-title {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  
}

.faq-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  
}



.faq-title {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #fafafa;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .faq-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #fafafa;
  }
}


body .faq-list .faq-item .faq-btn {
 margin-top: 0;
  background: none;
  text-decoration: none;
  border: none;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin: 20px 44px 16px 0;
  text-align: left;
  display: flex;
  align-items: center;
}

.faq-paragraph {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  margin-bottom: 20px;
  text-align: left;
}



.faq-list .faq-item {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  margin-top: 0;  
}



.faq-svg {
  width: 34px;
  height: 34px;
  background: #1c1d20;
  color: #fafafa;
  text-align: center;
  transform: translate(0, -60%);
  position: absolute;
  right: 10px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;

  fill: #fafafa;
  margin-left: 44px;
}



.ac .ac-trigger::after {
    display: none;
}

.ac .ac-trigger:focus {
    color: none;
}

.faq-list .faq-item .ac-comment .faq-paragraph {
    font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  margin-bottom: 20px;
  text-align: left;
}

@media only screen and (min-width: 1440px) {
    .faq-list {
        display: flex;
  }
  .faq-list {
    grid-template-columns: 50% 50%;
  }
  
  .faq-item {
    border: none;
    padding: bottom 32px;
    margin-bottom: 0;
    border-top:1px solid rgba(250, 250, 250, 0.1);
  }
  .faq-item:nth-child(odd) {
    padding-right: 32px;
    border-right: 1px solid rgba(250, 250, 250, 0.1)
  }
  .faq-item:nth-child(even) {
    padding-left: 32px;
  }
  .faq-item:nth-child(6) {
    border-bottom: 1px solid rgba(250, 250, 250, 0.1);
  }
  
 .faq-item:nth-child(5) {
    border-bottom: 1px solid rgba(250, 250, 250, 0.1);
  }
   
    .faq-list .faq-item {
        display: flex;
      }

      .faq-list .faq-item .faq-title {
        font-family: "Inter Tight", sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: #fafafa;
  }

      .faq-paragraph {
        font-family: 'Inter Tight', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: rgba(250, 250, 250, 0.6);
      }

    .faq-svg {
      width: 34px;
      height: 34px;
      background: #1c1d20;
      color: #fafafa;
      text-align: center;
      transform: translate(0, -60%);
      position: relative;
      right: 10px;
      border: 1px solid rgba(250, 250, 250, 0.2);
      border-radius: 100px;
  
      fill: #fafafa;
    }
  } */
.section-fqa {
  padding-top: 32px;
  padding-bottom: 32px;
}

.accordion-container {
  background-color: transparent;
  color: inherit;
}

.faq-main-title {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
}

.faq-svg {
  min-height: 40px;
  min-width: 40px;
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 100px;
  display: block;
  fill: #fafafa;
  background: transparent;
  cursor: pointer;
}

.accordion-container.faq {
  display: grid;
  grid-template-columns: 1fr;
}
.ac {
    margin: 0;
}
.ac.faq-item {
  border: none;
  background-color: var(--background);
  padding: 20px 0;
  border-bottom: 1px solid rgba(250, 250, 250, 0.1);
}

.ac.faq-item span {
  font-family: 'Inter Tight';
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--main-text);
  padding-right: 20px;
}
p.ac-text {
  color: var(--main-text);
  font-family: 'Inter Tight';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

.accordion-container .ac .ac-trigger {
  font-family: 'Inter Tight', sans-serif;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  padding: 0%;
  margin-top: 0;
  background: none;
  text-decoration: none;
  border: none;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #fafafa;
  /* margin: 20px 44px 16px 0; */
  text-align: left;
  display: flex;
  justify-content: space-between;
  gap: 44px;
}
.accordion-container.faq .ac-trigger.faq-btn {
  color: var(--main-text);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.ac .ac-trigger {
  padding: 0%;
}

.accordion-container .ac .ac-trigger:focus {
  color: #fafafa;
}

.ac .ac-trigger::after {
  display: none;
}

.faq-item.is-active .faq-svg {
  transform: rotate(180deg);
  transition: ease-in 0.3s;
}
.ac-panel {
  padding-right: 24px;
}

.faq-list .faq-item .ac-comment .faq-paragraph {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  padding: 16px 0 20px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .section-fqa {
    padding: 47px 32px;
  }
  .faq-main-title {
    padding: 0;
    font-size: 20px;
  }

  .ac.faq-item {
    background-color: var(--background);
    padding: 32px 0;
  }

  .ac-panel {
    padding-right: 32px;
  }
}

@media (min-width: 1440px) {
  .faq-list .accordion-container {
    grid-template-columns: 50% 50%;
  }

  .faq-list {
    display: flex;
    flex-wrap: wrap;
  }

  .ac.faq-item {
    width: calc(100% / 2);
    margin: 0;
  
  }
  .accordion-container .ac .faq-item {
    border: none;
    padding-bottom: 32px;
    margin-bottom: 0;
    border-top: 1px solid rgba(250, 250, 250, 0.1);
  }

  .ac.faq-item:nth-child(odd) {
    border: 1px solid rgba(250, 250, 250, 0.1);
    border-left: none;
    padding-left: 0%;
    padding-right: 32px;

  }
   .ac.faq-item:nth-child(even) {
    border: 1px solid rgba(250, 250, 250, 0.1);
    border-right: none;
    padding-left: 32px;
  }
  /* .accordion-container .ac .faq-item:nth-child(even) {
    padding-left: 32px;
  } */
  /* .accordion-container.ac  .faq-item:nth-child(6) {
      border-bottom: 1px solid rgba(250, 250, 250, 0.1);
    }
  
    .accordion-container .ac .faq-item:nth-child(5) {
      border-bottom: 1px solid rgba(250, 250, 250, 0.1);
    } */
}
