.section-hero {
  background-color: #1c1d20;
  padding-top: 0;
  background-image: url(../../img/hero/Hero-desktop3.png);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .section-hero {
    background-image: url(../../img/hero/Hero-desktop2.png);
  }
}

@media screen and (min-width: 1440px) {
  .section-hero {
    background-image: url(../../img/hero/Hero-desktop.png);
  }
}

.section-hero .container {
  padding: 0;
}

.wrap-hero {
  padding: 281px 16px 32px 16px;
}

@media screen and (min-width: 768px) {
  .wrap-hero {
    padding: 300px 32px 32px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .wrap-hero {
    padding: 300px 32px 32px 178px;
  }
}

.title_hero {
  color: #fafafa;
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 212px;
}

@media screen and (min-width: 768px) {
  .title_hero {
    font-size: 90px;
    margin-bottom: 187px;
  }
}

@media screen and (min-width: 1440px) {
  .title_hero {
    margin-bottom: 243px;
  }
}

@keyframes move-right-ul {
  0% {
    transform: translateX(358px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.list-style_hero {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  animation: move-right-ul 1500ms ease-in 250ms 1 both;
}

@media screen and (max-width: 373px) {
  .list-style_hero {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .list-style_hero {
    gap: 8px;
    justify-content: end;
    flex-wrap: nowrap;
  }
}

.first-links_hero {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  width: 37px;
  height: 37px;
  text-decoration: none;
  position: relative;
  transition: all 0.75s ease;
  overflow: hidden;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .first-links_hero {
    border-radius: 60px;
    padding: 18px 20px;
    width: 55px;
    height: 55px;
    text-decoration: none;
    position: relative;
    transition: all 0.75s ease;
    overflow: hidden;
    z-index: 1;
  }
}

/**/
.first-links_hero::after {
  position: absolute;
  content: ' ';
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 0;
  height: 0;
  transition: all 0.75s ease;
  transform: translate(-50%, -50%) scale(0.1);
  border-radius: 999px;
}

.first-links_hero:hover {
  color: #fff;
  background: transparent;
}

.first-links_hero:hover::after {
  height: 200px;
  width: 200px;
  background: #1c1d20;
  transform: translate(-50%, -50%) scale(1);
}

@media screen and (min-width: 768px) {
  .first-links_hero:hover::after {
    background: #ed3b44;
  }
}

.second-links_hero {
  cursor: pointer;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 11px 13px;
  width: 178px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  text-decoration: none;
  position: relative;
  transition: all 0.75s ease;
  overflow: hidden;
  z-index: 1;
}

/**/

@media screen and (min-width: 768px) {
  .second-links_hero {
    padding: 18px 24px;
    width: 223px;
    height: 55px;
  }
}
.link-style-text_hero {
  color: #fafafa;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  cursor: pointer;
  padding: 19px;
}

@media screen and (min-width: 768px) {
  .link-style-text_hero {
    font-size: 16px;
  }
}

.second-links_hero::after {
  position: absolute;
  content: ' ';
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 0;
  height: 0;
  transition: all 0.75s ease;
  transform: translate(-50%, -50%) scale(0.1);
  border-radius: 999px;
}

.second-links_hero:hover {
  color: #fff;
  background: transparent;
}

.second-links_hero:hover::after {
  height: 200px;
  width: 233px;
  background: #ed3b44;
  transform: translate(-50%, -50%) scale(1);
}
