
html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Inter Tight', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

section {
  padding: 32px 0;

}

@media only screen and (min-width: 768px) {
  section {
    padding: 48px 0;
  }
}

@media only screen and (min-width: 1440px) {
  section {
    padding: 82px 0;
  }
}

.container {
  max-width: 375px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}


/* /*/
.reviews-title{
  color: #FAFAFA;
  font-size: 16px;
  margin-bottom: 32px;
}
.reviews-list{
  display: flex;
  /* flex-wrap: wrap; */
  gap: 16px;
}
.reviews-item{ 
  width: calc((100% - 16px* 3) / 4);
  padding: 32px 24px;
  border-radius: 20px;
  border-color: #FAFAFA;
  background-color: bisque;
}

.reviews-h{
  margin-bottom: 8px;
}
.reviews-p{
font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    /* text-align: center; */
    /* color: rgba(12, 12, 12, 0.4); */
    letter-spacing: -0.02em;
font-size: 16px;
}
.reviews-img{
  margin-bottom: 32px;
}
.reviews-btn-left,
.reviews-btn-right{
 width: 48px;
 height: 48px;
 border-radius: 50%;
 border: #FAFAFA;
}