<section class="covers-section js-covers-section" id="section-covers">
  <div class="container-covers">
    <h2 class="visually-hidden">Covers</h2>
    <ul class="covers-list-first js-covers-list-first">
      <li class="covers-list-item js-covers-list-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/covers/covers-img1@1.webp 1x,
              ./img/covers/covers-img1@2.webp 2x
            "
          />
          <img src="./img/covers/covers-img1@1.webp" alt="" />
        </picture>
      </li>
      <li class="covers-list-item js-covers-list-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/covers/covers-img2@1.webp 1x,
              ./img/covers/covers-img2@2.webp 2x
            "
          />
          <img src="./img/covers/covers-img2@1.webp" alt="" />
        </picture>
      </li>
      <li class="covers-list-item js-covers-list-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/covers/covers-img3@1.webp 1x,
              ./img/covers/covers-img3@2.webp 2x
            "
          />
          <img src="./img/covers/covers-img3@1.webp" alt="" />
        </picture>
      </li>
      <li class="covers-list-item js-covers-list-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/covers/covers-img4@1.webp 1x,
              ./img/covers/covers-img4@2.webp 2x
            "
          />
          <img src="./img/covers/covers-img4@1.webp" alt="" />
        </picture>
      </li>
      <li class="covers-list-item js-covers-list-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/covers/covers-img5@1.webp 1x,
              ./img/covers/covers-img5@2.webp 2x
            "
          />
          <img src="./img/covers/covers-img5@1.webp" alt="" />
        </picture>
      </li>
      <li class="covers-list-item js-covers-list-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/covers/covers-img6@1.webp 1x,
              ./img/covers/covers-img6@2.webp 2x
            "
          />
          <img src="./img/covers/covers-img6@1.webp" alt="" />
        </picture>
      </li>
      <li class="covers-list-item js-covers-list-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/covers/covers-img7@1.webp 1x,
              ./img/covers/covers-img7@2.webp 2x
            "
          />
          <img src="./img/covers/covers-img7@1.webp" alt="" />
        </picture>
      </li>
      <li class="covers-list-item js-covers-list-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/covers/covers-img8@1.webp 1x,
              ./img/covers/covers-img8@2.webp 2x
            "
          />
          <img src="./img/covers/covers-img8@1.webp" alt="" />
        </picture>
      </li>
      <li class="covers-list-item js-covers-list-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/covers/covers-img9@1.webp 1x,
              ./img/covers/covers-img9@2.webp 2x
            "
          />
          <img src="./img/covers/covers-img9@1.webp" alt="" />
        </picture>
      </li>
      <li class="covers-list-item js-covers-list-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/covers/covers-img10@1.webp 1x,
              ./img/covers/covers-img10@2.webp 2x
            "
          />
          <img src="./img/covers/covers-img10@1.webp" alt="" />
        </picture>
      </li>
    </ul>
    <ul class="covers-list-second js-covers-list-second">
      <li class="covers-list-item js-covers-list-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/covers/covers-img10@1.webp 1x,
              ./img/covers/covers-img10@2.webp 2x
            "
          />
          <img src="./img/covers/covers-img10@1.webp" alt="" />
        </picture>
      </li>
      <li class="covers-list-item js-covers-list-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/covers/covers-img4@1.webp 1x,
              ./img/covers/covers-img4@2.webp 2x
            "
          />
          <img src="./img/covers/covers-img4@1.webp" alt="" />
        </picture>
      </li>
      <li class="covers-list-item js-covers-list-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/covers/covers-img6@1.webp 1x,
              ./img/covers/covers-img6@2.webp 2x
            "
          />
          <img src="./img/covers/covers-img6@1.webp" alt="" />
        </picture>
      </li>
      <li class="covers-list-item js-covers-list-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/covers/covers-img7@1.webp 1x,
              ./img/covers/covers-img7@2.webp 2x
            "
          />
          <img src="./img/covers/covers-img7@1.webp" alt="" />
        </picture>
      </li>
      <li class="covers-list-item js-covers-list-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/covers/covers-img5@1.webp 1x,
              ./img/covers/covers-img5@2.webp 2x
            "
          />
          <img src="./img/covers/covers-img5@1.webp" alt="" />
        </picture>
      </li>
      <li class="covers-list-item js-covers-list-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/covers/covers-img3@1.webp 1x,
              ./img/covers/covers-img3@2.webp 2x
            "
          />
          <img src="./img/covers/covers-img3@1.webp" alt="" />
        </picture>
      </li>
      <li class="covers-list-item js-covers-list-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/covers/covers-img2@1.webp 1x,
              ./img/covers/covers-img2@2.webp 2x
            "
          />
          <img src="./img/covers/covers-img2@1.webp" alt="" />
        </picture>
      </li>
      <li class="covers-list-item js-covers-list-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/covers/covers-img8@1.webp 1x,
              ./img/covers/covers-img8@2.webp 2x
            "
          />
          <img src="./img/covers/covers-img8@1.webp" alt="" />
        </picture>
      </li>
      <li class="covers-list-item js-covers-list-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/covers/covers-img9@1.webp 1x,
              ./img/covers/covers-img9@2.webp 2x
            "
          />
          <img src="./img/covers/covers-img9@1.webp" alt="" />
        </picture>
      </li>
      <li class="covers-list-item js-covers-list-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/covers/covers-img1@1.webp 1x,
              ./img/covers/covers-img1@2.webp 2x
            "
          />
          <img src="./img/covers/covers-img1@1.webp" alt="" />
        </picture>
      </li>
    </ul>
    <ul class="covers-list-third js-covers-list-third">
      <li class="covers-list-item js-covers-list-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/covers/covers-img1@1.webp 1x,
              ./img/covers/covers-img1@2.webp 2x
            "
          />
          <img src="./img/covers/covers-img1@1.webp" alt="" />
        </picture>
      </li>
      <li class="covers-list-item js-covers-list-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/covers/covers-img2@1.webp 1x,
              ./img/covers/covers-img2@2.webp 2x
            "
          />
          <img src="./img/covers/covers-img2@1.webp" alt="" />
        </picture>
      </li>
      <li class="covers-list-item js-covers-list-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/covers/covers-img3@1.webp 1x,
              ./img/covers/covers-img3@2.webp 2x
            "
          />
          <img src="./img/covers/covers-img3@1.webp" alt="" />
        </picture>
      </li>
      <li class="covers-list-item js-covers-list-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/covers/covers-img4@1.webp 1x,
              ./img/covers/covers-img4@2.webp 2x
            "
          />
          <img src="./img/covers/covers-img4@1.webp" alt="" />
        </picture>
      </li>
      <li class="covers-list-item js-covers-list-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/covers/covers-img5@1.webp 1x,
              ./img/covers/covers-img5@2.webp 2x
            "
          />
          <img src="./img/covers/covers-img5@1.webp" alt="" />
        </picture>
      </li>
      <li class="covers-list-item js-covers-list-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/covers/covers-img6@1.webp 1x,
              ./img/covers/covers-img6@2.webp 2x
            "
          />
          <img src="./img/covers/covers-img6@1.webp" alt="" />
        </picture>
      </li>
      <li class="covers-list-item js-covers-list-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/covers/covers-img7@1.webp 1x,
              ./img/covers/covers-img7@2.webp 2x
            "
          />
          <img src="./img/covers/covers-img7@1.webp" alt="" />
        </picture>
      </li>
      <li class="covers-list-item js-covers-list-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/covers/covers-img8@1.webp 1x,
              ./img/covers/covers-img8@2.webp 2x
            "
          />
          <img src="./img/covers/covers-img8@1.webp" alt="" />
        </picture>
      </li>
      <li class="covers-list-item js-covers-list-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/covers/covers-img9@1.webp 1x,
              ./img/covers/covers-img9@2.webp 2x
            "
          />
          <img src="./img/covers/covers-img9@1.webp" alt="" />
        </picture>
      </li>
      <li class="covers-list-item js-covers-list-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/covers/covers-img10@1.webp 1x,
              ./img/covers/covers-img10@2.webp 2x
            "
          />
          <img src="./img/covers/covers-img10@1.webp" alt="" />
        </picture>
      </li>
    </ul>
  </div>
</section>
