<header class="container header-container" id="section-header">
  <div class="container-logo">
    <picture class="header-logo">
      <source
        media="(max-width: 375px)"
        srcset="
          ./img/header/mobile-logo@1x.jpg 1x,
          ./img/header/mobile-logo@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/header/tablet-logo@1x.jpg 1x,
          ./img/header/tablet-logo@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 1440px)"
        srcset="
          ./img/header/desktop-logo@1x.jpg 1x,
          ./img/header/desktop-logo@2x.jpg 2x
        "
      />
      <img
        class="logo-img"
        src="./img/header/mobile-logo@1x.jpg"
        width="80"
        height="80"
        alt="logo photo"
      />
    </picture>
    <p class="header-logo-text">jefferson*</p>
  </div>
  <ul class="header-menu-nav">
    Menu
  </ul>
  <button class="header-burger-btn" aria-label="button-open-menu" type="button">
    <svg class="burger-svg" width="24" height="12">
      <use href="./img/icons.svg#icon-BurgerMenuOpen"></use>
    </svg>
  </button>
  <a href="#section-footer" class="link-order">Order the project</a>
</header>

<!-- #Modal -->
<div class="mobile-modal-menu visually-hidden">
  <button class="mobile-menu-btn" type="button">
    <svg class="mobile-svg" width="14" height="1">
      <use href="./img/icons.svg#icon-BurgerMenuClosed"></use>
    </svg>
  </button>
  <ul class="mobile-menu-list">
    <li class="mobile-menu-item">
      <a href="#section-about-me" class="header-link"></a>About me
    </li>
    <li class="mobile-menu-item">
      <a href="#section-benefits" class="header-link"></a>Benefits
    </li>
    <li class="mobile-menu-item">
      <a href="#section-pojects" class="header-link"></a>Projects
    </li>
    <li class="mobile-menu-item">
      <a href="#section-faq" class="header-link"></a>FAQ
    </li>
  </ul>
  <div class="box-modal-link">
    <a href="#section-footer" class="modal-modal-link">Order the project</a>
  </div>
</div>
