<section class="section-hero" id="section-hero">
  <div class="container">
    <div class="wrap-hero">
      <h1 class="title_hero">Hello. <br> I’m Fullstack developer Lloyd Jefferson.</h1>
      <div class="social-link_hero">
        <ul class="list-style_hero">
          <li class="first-links_hero">
            <a target="_blank" rel="noopener noreferrer" aria-label="open-instagram" class="link-style-text_hero" href="https://www.instagram.com/goitclub/">IG</a>
          </li>
          <li class="first-links_hero">
            <a  target="_blank" rel="noopener noreferrer" aria-label="open-facebook" class="link-style-text_hero" href="https://www.facebook.com/goITclub/">FB</a>
          </li>
          <li class="first-links_hero">
            <a  target="_blank" rel="noopener noreferrer" aria-label="open-youtube" class="link-style-text_hero on-of" href="https://www.youtube.com/c/GoIT">YT</a>
          </li>
          <li class="first-links_hero on-of">
            <a  target="_blank" rel="noopener noreferrer" aria-label="open-github" class="link-style-text_hero" href="https://github.com/Olena1iashenko/js-project-portfolio">GH</a>
          </li>
          <li class="second-links_hero">
            <a target="_blank" rel="noopener noreferrer" aria-label="open-gmail" class="link-style-text_hero" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
