<section class="section-hero" id="section-hero">
  <div class="container">
    <div class="wrap-hero">
      <h1 class="title_hero">Hello. <br> I’m Fullstack developer Lloyd Jefferson.</h1>
      <div class="social-link_hero">
        <ul class="list-style_hero">
          <li class="first-links_hero">
            <a class="link-style-text_hero" href="">IG</a>
          </li>
          <li class="first-links_hero">
            <a class="link-style-text_hero" href="">FB</a>
          </li>
          <li class="first-links_hero">
            <a class="link-style-text_hero" href="">YT</a>
          </li>
          <li class="first-links_hero">
            <a class="link-style-text_hero" href="">GH</a>
          </li>
          <li class="second-links_hero">
            <a class="link-style-text_hero" href="">lloydjefferson@gmail.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
