<section class="section" id="section-pojects">
    <div class="container">
        <h2 class="projects-title">Projects</h2>
        <div class="swiper-wrapper-container">
            <div class="swiper swiper-container project-slider projects-wrapper projects-swiper projects-dark-part">
                <ul class="swiper-wrapper projects-swiper-wrapper">
                    <!-- swiper-slide 1 -->
                    <li class="swiper-slide projects-swiper-slide">
                        <div class="projects-light-part">
                            <ul class="projects-content-list">
                                <li>#react</li>
                                <li>#js</li>
                                <li>#node js</li>
                                <li>#git</li>
                            </ul>
                            <p class="projects-description">Programming Across Borders: Ideas,
                                Technologies, Innovations</p>
                            <div class="projects-link-wrapper">
                                <a href="https://olena1iashenko.github.io/js-project-portfolio/" target="_blank"
                                    class="projects-link">See project</a>
                            </div>
                        </div>
                        <div class="projects-slide-img-wrapper">
                            <picture class="projects-img">
                                <source media="(max-width: 375px)" srcset="
                                        ./img/projects/first_page_mobile_375px@1x.webp 1x,
                                        ./img/projects/first_page_mobile_375px@2x.webp 2x
                                          " />
                                <source media="(min-width: 768px)" srcset="
                                        ./img/projects/first_page_desc_1440px@1x.webp 1x,
                                        ./img/projects/first_page_desc_1440px@2x.webp 2x
                                          " />
                                <source media="(min-width: 1440px)" srcset="
                                        ./img/projects/first_page_desc_1440px@1x.webp 1x,
                                        ./img/projects/first_page_desc_1440px@2x.webp 2x
                                          " />
                                <img class=" projects-img-default" src="./img/projects/first_page_mobile_375px@2x.webp"
                                    alt="projects-png" />
                            </picture>
                        </div>
                    </li>
                    <!-- swiper-slide 2 -->
                    <li class="swiper-slide projects-swiper-slide">
                        <div class="projects-light-part">
                            <ul class="projects-content-list">
                                <li>#react</li>
                                <li>#js</li>
                                <li>#node js</li>
                                <li>#git</li>
                            </ul>
                            <h3 class="projects-description">Programming Across Borders: Ideas,
                                Technologies, Innovations</h3>
                            <div class="projects-link-wrapper">
                                <a href="https://olena1iashenko.github.io/js-project-portfolio/" target="_blank"
                                    class="projects-link">See
                                    project</a>
                            </div>
                        </div>
                        <div class="projects-slide-img-wrapper">
                            <picture class="projects-img">
                                <source media="(max-width: 375px)" srcset="
                                            ./img/projects/second_page_mobile_375px@1x.webp 1x,
                                            ./img/projects/second_page_mobile_375px@2x.webp 2x
                                          " />
                                <source media="(min-width: 768px)" srcset="
                                        ./img/projects/second_page_desc_1440px@1x.webp 1x,
                                        ./img/projects/second_page_desc_1440px@2x.webp 2x
                                          " />
                                <source media="(min-width: 1440px)" srcset="
                                        ./img/projects/second_page_desc_1440px@1x.webp 1x,
                                        ./img/projects/second_page_desc_1440px@2x.webp 2x
                                        " />
                                <img class=" projects-img-default" src="./img/projects/second_page_mobile_375px@2x.webp"
                                    alt="projects-png" />
                            </picture>
                        </div>
                    </li>
                    <!-- swiper-slide 3 -->
                    <li class="swiper-slide projects-swiper-slide">
                        <div class="projects-light-part">
                            <ul class="projects-content-list">
                                <li>#react</li>
                                <li>#js</li>
                                <li>#node js</li>
                                <li>#git</li>
                            </ul>
                            <h3 class="projects-description">Programming Across Borders: Ideas,
                                Technologies, Innovations</h3>
                            <div class="projects-link-wrapper">
                                <a href="https://olena1iashenko.github.io/js-project-portfolio/" target="_blank"
                                    class="projects-link">See project</a>
                            </div>
                        </div>
                        <div class="projects-slide-img-wrapper">
                            <picture class="projects-img">
                                <source media="(max-width: 375px)" srcset="
                                            ./img/projects/third_page_mobile_375px@1x.webp 1x,
                                            ./img/projects/third_page_mobile_375px@2x.webp 2x
                                          " />
                                <source media="(min-width: 768px)" srcset="
                                        ./img/projects/third_page_desc_1440px@1x.webp 1x,
                                        ./img/projects/third_page_desc_1440px@2x.webp 2x
                                          " />
                                <source media="(min-width: 1440px)" srcset="
                                        ./img/projects/third_page_desc_1440px@1x.webp 1x,
                                        ./img/projects/third_page_desc_1440px@2x.webp 2x
                                          " />
                                <img class=" projects-img-default" src="./img/projects/third_page_mobile_375px@2x.webp"
                                    alt="projects-png" />
                            </picture>
                        </div>
                    </li>
                </ul>
                <!-- </div> -->
            </div>
            <div class="projects-arrow-wrapper">
                <button type="button" class=" projects-btn_arrow js-btn_arrow-left">
                    <svg class="projects-arrow-icon" width="32" height="32">
                        <use href="/img/icons.svg#icon-arrows-left"></use>
                    </svg>
                </button>
                <button type="button" class=" projects-btn_arrow js-btn_arrow-right">
                    <svg class="projects-arrow-icon" width="32" height="32">
                        <use href="/img/icons.svg#icon-arrows-right"></use>
                    </svg>
                </button>
            </div>
        </div>

    </div>
</section>