<section class="section" id="section-pojects">
    <div class="container">

        <h1 class="projects-title">Projects</h1>

        <div class="projects-wrapper">

            <div class="projects-light-part">
                <ul class="projects-content-list">
                    <li>#react</li>
                    <li>#js</li>
                    <li>#node js</li>
                    <li>#git</li>
                </ul>
                <h3 class="projects-description">Programming Across Borders: Ideas,
                    Technologies, Innovations</h3>
                <div class="projects-link-wrapper">
                    <a href="https://github.com/Olena1iashenko/js-project-portfolio" target="_blank"
                        class="projects-link">See project</a>
                </div>
            </div>

            <div class="projects-dark-part">


                <picture>
                    <!-- Desktop screen -->
                    <source media="(min-width: 1440px)" srcset="../img/portfolio/first_page_desc_1440px@1x.png 1x,
                        ../img/portfolio/first_page_desc_1440px@2x.png 2x
                          " />
                    <!-- Tablet screen -->
                    <source media="(min-width: 768px)"
                        srcset="../img/portfolio/first_page_tab_768px@1x.png 1x, ../img/portfolio/first_page_tab_768px@2x.png 2x" />
                    <!-- Mobile screen -->
                    <source media="(max-width: 767px)"
                        srcset="../img/portfolio/first_page_mobile_375px@1x.png 1x, ../img/portfolio/first_page_mobile_375px@2x.png 2x" />
                    <img class="project-img" src=".../img/portfolio/first_page_mobile_375px@1x.png" alt="project-img" />
                </picture>



                <img src="../img/portfolio/first_page_mobile375px@2x.png" alt="">

            </div>
            <div class="projects-arrow-wrapper">
                <button type="button" class="projects-btn_arrow js-btn_arrow-left">
                    <svg class="projects-arrow-icon" width="52" height="52">
                        <use href="../img/icons.svg#icon-arrows-left"></use>
                    </svg>
                </button>

                <button type="button" class="projects-btn_arrow js-btn_arrow-right">

                    <svg class="projects-arrow-icon" width="52" height="52">
                        <use href="./img/icons.svg#icon-arrows-right"></use>
                    </svg>

                </button>

            </div>
        </div>
    </div>
</section>