.header-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
}

.header-menu-nav {
  display: none;
}

.mobile-modal-menu {
  display: none;
}

.header-link {
  display: none;
}

.header-burger-btn {
}

.burger-svg {
}

/* Mobile Modal */

@media (min-width: 320px) and (max-width: 375px) {
  .mobile-modal-menu {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 375px;
    height: 812px;
  }
}

.mobile-menu-btn {
}

.mobile-svg {
}

.mobile-menu-list {
  display: flex;
}

.mobile-menu-itim {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;

  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fafafa;
}

.linc-order {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  border-radius: 60px;
  padding: 14px 31px;
  width: 164px;
  height: 45px;
  background-color: #ed3b44;
}
